<% content_for :command do %>
  <ul class="nav nav-list">
    <li><%= link_to t('dashboard'), admins_root_path %></li>
    <li><%= link_to t('votings'), admins_votings_path %></li>
    <li><%= link_to t('.users'), admins_users_path %></li>
    <li><%= link_to t('.groups'), admins_groups_path %></li>
  </ul>
<% end %>
